*			{ box-sizing: border-box; }
body		{ background-color: #3F2860;
			  color: #3F2860;
			  font-family: Verdana, Arial, sans-serif;}
header		{ background-color: #9BC1C2;
			  background-image: url(lilyheader.jpg);
			  background-position: right;
			  background-repeat: no-repeat;
			  height: 150px;
			  display: block;}
h1			{ padding-top:50px;
			  padding-left: 2em;}
nav			{ font-weight: bold; 
			  padding: 1em;
			  float: left;
			  width: 160px;
			  display: block;}
nav a 		{ width: 6.5em;
			  display: inline-block;
			  padding: 1em;
			  margin-bottom: 1em;
			  color: #FFFFFF;
			  background-color: #EEEEEE;
			  font-family: Arial, Helvetica, sans-serif;
			  font-size: 1.5em;
			  font-weight: bold;
			  text-align: center;
			  text-decoration: none;
			  border-color: #CCCCCC;
			  border-width: 3px;
			  border-style: outset; }
nav a:link	{ color: #3F2860; }
nav a:visited{ color: #497777; }
nav a:hover	{ color: #A26100; border: 3px inset #333333; }
nav ul		{ list-style-type: none;
			  padding-left: 0em; }
main		{ padding-left: 2em;
			  padding-right: 2em;
			  margin-left: 170px;
			  padding-top: 1em;
			  display: block;}
img			{ padding-left: 1em;
			  padding-right: 1em; }
.studio		{ font-style: italic; }
.floatleft	{ float: left;
			  margin-right: 4em; }
.clear		{ clear: both; }
footer		{ background-color: #9BC1C2;
			  font-size: .80em;
			  font-style: italic;
			  text-align: center;
			  padding: 1em;
			  display: block;}
#wrapper	{ width: 80%;
			  margin-right: auto;
			  margin-left: auto;
			  background-color: #F5F5F5;
			  min-width: 1200px;
			  max-width: 1480px; }
